@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Global Section Starts Here */

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    color: #000;
}

/* Global Section Ends Here */


/* Top Bar Sections Starts Here */

#social-media-handler{
    
}

/* Top Bar Section Ends Here */